<?xml version="1.0" ?>

<robot name="meca_500_r3">


<!-- ============================================== -->
<!-- |           MammaCheck Base Joint            | -->
<!-- ============================================== -->

	<link name="world" />


 	<link name="base_frame">
        	<visual>
        	    <origin rpy="0 0 0" xyz="0 0 0" />
        	    <geometry>
        	    	<mesh filename="package://description/Mesh/Base.stl"/>
            	    </geometry>
        	</visual>
        	<collision>
            	    <origin rpy="0 0 0" xyz="0 0 0" />
            	    <geometry>
        	    	<mesh filename="package://description/Mesh/Base.stl"/>
            	    </geometry>
        	</collision>
			<inertial>
	     		<origin rpy= "0 0 0" xyz="0 0 0"/>
            		<mass value="100" />
            		<inertia ixx="1.81" iyy="1.55" izz="1.54" ixy="0.0" ixz="-0.33" iyz="-0.03" />
        	</inertial>
        </link>	

	<joint name="world_joint" type="fixed">
    	<parent link="world" />
    	<child link = "base_frame" />
    	<origin xyz="0.1585 -0.310 0" rpy="0.0 0.0 0.0" />
 	</joint>
	

</robot>
